<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css">
  .reg-form{
  background: #54c5b0ad;
  padding-bottom: 100px;
  }
  .reg-form h1{
    margin-top: 30px;
    padding-top: 20px;
    color: rgb(9, 76, 102);
  }
</style>
    <title>Registration</title>
  </head>
  <body>
   <div class="reg-form">
       <center><h1>Student Registration Form</h1></center>
          <div class="container">
      <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>FirstName</label>
          <input type="text" class="form-control" id="fname" placeholder="Enter Your First Name">
        </div>
        <div class="form-group col-md-6">
          <label>LastName</label>
          <input type="text" class="form-control" id="lname" placeholder="Enter Your Last Name">
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address">
      </div>
     <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" id="password" placeholder="Choose Your Password">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">RollNo</label>
          <input type="number" class="form-control" id="inputCity" placeholder="Enter Your Rollno">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Year</label>
          <select id="inputState" class="form-control">
            <option selected>1st</option>
            <option selected>2nd</option>
            <option selected>3rd</option>
          </select>
        </div>
        <div class="form-group col-md-2">
 <label for="inputState">Semester</label>
          <select id="inputState" class="form-control">
            <option selected>1st</option>
            <option selected>2nd</option>
            <option selected>3rd</option>
            <option selected>4th</option>
            <option selected5>5th</option>
            <option selected>6th</option>
            <option selected5>7th</option>
            <option selected>8th</option>
          </select>
        </div>
      </div>

      <center><button type="submit" class="btn btn-danger btn-ls">Register</button></center>
    </form>
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
